$color-1: #03071e;
$color-2: #370617;
$color-3: #6a040f;
$color-4: #9d0208;
$color-5: #d00000;
$color-6: #dc2f02;
$color-7: #e85d04;
$color-8: #f48c06;
$color-9: #faa307;
$color-10: #ffba08;

// $color-1: #583101;
// $color-2: #603808;
// $color-3: #6f4518;
// $color-4: #8b5e34;
// $color-5: #a47148;
// $color-6: #bc8a5f;
// $color-7: #d4a276;
// $color-8: #e7bc91;
// $color-9: #f3d5b5;
// $color-10: #ffedd8;

$main-background: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);
$nav-background: $color-3;
$nav-text: #fff;
