@use "./abstracts" as *;

.container {
  display: flex;
  gap: 2em;
  padding: 1em 2em;
  margin: 1rem 5rem;
  border: solid black;
  border-radius: 10px;
  width: 75rem;

  @media screen and (max-width: 60em) {
    flex-direction: column;
  width: 90%;

  }
}

.about {
  span {
    margin-right: 0.4em;
    font-weight: bold;
    text-transform: capitalize;
    font-family: $title-font;
    font-weight: lighter;
  }
}

.shownImage {
  width: 400px;
}

.details {
  text-align: left;
}
