// import "bootstrap";
// import "bootstrap/dist/css/bootstrap.css";
// import "bootstrap/dist/js/bootstrap.js";
@use "./abstracts" as *;

html,
body {
  font-family: $body-font;
  text-align: center;
  background-image: $main-background;
}

h2 {
  font-family: $title-font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
