.main {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleImage {
}

.title {
  position: absolute;
  top: 6rem;
  left: 2rem;
  font-size: 10vw;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.chickensContainer {
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
