.container {
  display: relative;
  top: 0;
  left: 0;
}

.container > h1 {
  position: absolute;
  top: 6rem;
  left: 2rem;
  font-size: 10vw;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.container > p {
  position: absolute;
  top: 15rem;
  left: 5rem;
  width: 20rem;
}
