@use "./abstracts" as *;

.container {
  position: relative;

  .img {
  }

  h1 {
    position: absolute;
    top: 6vw;
    left: 2vw;
    margin: 0;
    line-height: 1.15;
    font-size: 5vw;
    text-align: center;
    font-family: $title-font;
  }

  p {
    position: absolute;
    top: 15vw;
    left: 8vw;
    width: 20em;
  }
}
